<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/aboutus_style.css">
</head>

<body>
    <div id="title">
        <h1>About Us</h1>
    </div>
    <div class="box">
        <img src="../static/assets/Max.jpg" alt="Picture of Max">
        <div class="text">
            <h2>[13522061] Maximilian Sulistiyo</h2>
            <p><a href="https://github.com/riyorax">GitHub Profile</a><br>Hah quotes? kuota gw abis coy</p>
        </div>
    </div>
    <div class="box">
        <img src="../static/assets/Evelyn.jpg" alt="Picture of Evelyn">
        <div class="text">
            <h2>[13522083] Evelyn Yosiana</h2>
            <p><a href="https://github.com/evelynnn04">GitHub Profile</a><br>Hahaha-in aja</p>
        </div>
    </div>
    <div class="box">
        <img src="../static/assets/Andhika.jpg" alt="Picture of Andhika">
        <div class="text">
            <h2>[13522094] Andhika Tantyo Anugrah</h2>
            <p><a href="https://github.com/CrystalNoob">GitHub Profile</a><br>Practice makes perfect, but nobody is perfect.</p>
        </div>
    </div>
</body>

</html>
