<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algeo02-22061</title>
    <link rel="stylesheet" href="../static/index_style.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="../static/indexScript.js"></script>
    <div id="loading" style="display: none">
        <img src="static/assets/kuru2.gif" alt="Loading">
        <span>Loading<span class="dots"></span></span>
    </div>
    <div class="title">
        <h1>ALGEO LENS</h1>
    </div>
    <div class="menu-bar">
        <a href="/aboutus.html" class="menu-item">About Us</a>
        <a href="/howtouse.html" class="menu-item">How to Use</a>
        <a href="/searchengineconcept.html" class="menu-item">Search Engine Concept</a>
    </div>
    <div class="main-container">
        <div class="box">

            <div class="img-container">
                <img id="uploadPreview" src="{{ url_for('static', filename='assets/placeholder.png') }}" alt="Image">
            </div>

            <form action="/" method="POST" enctype="multipart/form-data" onsubmit="return checkUploadAndRedirect()">
                <div class="side-div-top">
                    <span class="left-text">Colour</span>
                    <label class="toggle-container">
                        <input type="checkbox" class="toggle-input" name="toggleSwitch">
                        <span class="toggle-slider"></span>
                    </label>
                    <span class="right-text">Texture</span>
                </div>
                <h3>Upload Image</h3>
                <input type="file" name="upload_image" id="upload_image" onchange="previewImage(this)" accept=".png, .jpg, .jpeg, .bmp">
                <br>
                <input type="submit" value="Search">
            </form>

            <form id="uploadDatasetForm">
                <h3>Upload Dataset</h3>
                <input type="file" name="dataset_files" id="dataset_files" webkitdirectory directory multiple>
                <br>
                <input type="button" value="Upload Dataset" onclick="zipAndUploadDataset()">
            </form>

        </div>
    </div>
</body>
</html>
