body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    background-color: #f4f4f4;
}

.title {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: space-around; /* Adjust this property based on your layout preference */
}

.side-div {
    flex: 1; 
    padding: 20px; /* Adjust padding as needed */
}

.input-container {
    flex: 0.9; /* Adjust the flex value to set the input div to 40% */
}

.input-div {
    display: flex;
    flex-direction: column;
    padding: 200px;
}

.placeholder-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto; /* Center horizontally */
    display: block;
}

.input [type = submit]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.upload {
    color: #2a2a2a;
    font-size: 15px;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.side-div {
    padding: 20px;
    flex-grow: 1; 
}

.toggle-text {
    display: flex;
    align-items: center;
}

.left-text, .right-text {
    margin-right: 10px;
    padding-top: -10px;
}

.toggle-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-input {
    display: none;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.toggle-input:checked + .toggle-slider {
    background-color: #2196F3;
}

.toggle-input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

.scrollbar-image {
    margin-top: 25px;
    max-height: 70%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: pink;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

/* TEST */

.gallery{
	width: 100%;
	/* float: left; */
	/* margin-right: 50px; */
}

.gallery .image-item .item{
	float: left;
	width:25%;
	position: relative;
}
.gallery .image-item .item.hide{
	display: none;
}
.gallery .image-item .item.show{
	display: block;
	animation: show .5s ease;
}
@keyframes show{
    0%{
    	opacity:0;
    	transform: scale(0.9);
    }
    100%{
    	opacity:1;
    	transform: scale(1);
    }
}


.gallery .image-item .item img{
	width: 100%;
	display: block;
}
.gallery .image-item .item .caption{
	position: absolute;
	left:0px;
	bottom:0;
	background-color: rgba(0,0,0,.5);
	padding:10px;
	width: 100%;
	color:#ffffff;
	text-align: center;
}
.gallery .pagination{
	width: 100%;
	float: left;
	padding:15px;
	text-align: center;
}
.gallery .pagination div{
	display: inline-block;
	margin:0 10px;
}
.gallery .pagination .page{
	color:gray;
}
.gallery .pagination .prev,.gallery .pagination .next{
 color:#000;
 border:1px solid #000;
 font-size:15px;
 padding:7px 15px;
 cursor: pointer;
}

.gallery .pagination .prev.disabled,
.gallery .pagination .next.disabled{
	border-color: gray;
	color:gray;
	pointer-events: none;
}
